<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <wffm>
      <analytics>
        <analyticsFormsDataProvider type="Sitecore.Support.WFFM.Analytics.Providers.AnalyticsFormsDataProvider, Sitecore.Support.66996" patch:instead="*[@type='Sitecore.WFFM.Analytics.Providers.AnalyticsFormsDataProvider, Sitecore.WFFM.Analytics']">
          <param name="reportDataProviderWrapper" ref="/sitecore/wffm/analytics/reportDataProviderWrapper" />
          <param name="logger" ref="/sitecore/wffm/logger" />
          <param name="settings" ref="/sitecore/wffm/settings" />
        </analyticsFormsDataProvider>
      </analytics>
    </wffm>
    <controllers>
      <controller type="Sitecore.WFFM.Services.Requests.Controllers.SupportFormReportsController, Sitecore.Support.66996" patch:instead="*[@type='Sitecore.WFFM.Services.Requests.Controllers.FormReportsController,Sitecore.WFFM.Services']">
        <param name="formsDataProvider" ref="wffm/analytics/formsDataProvider" />
      </controller>
    </controllers>
  </sitecore>
</configuration>